Codigo/AmazonFake_WEB/AmazonFake_SITE/Service References/AmazonFakeServiceAlt/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Data" />
  <xs:element name="Envio_Correo_Cliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Correo_Target" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Correo_Source" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Correo_Encabezado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Correo_Mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Envio_Correo_ClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Conectar_Base_Datos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Conectar_Base_DatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Conectar_Base_DatosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mostrar_Informacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Nombre_StoreProcedure_BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Nombre_Tabla_BaseDatos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mostrar_InformacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Mostrar_InformacionResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDatos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sNombreSP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SMsError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarDatosResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="SMsError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FiltrarDatos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sNombreSP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sNombreParametro" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="DbType" type="q1:SqlDbType" />
        <xs:element minOccurs="0" name="sValrParametro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SMsError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FiltrarDatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FiltrarDatosResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="SMsError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_DatosSinIdentity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sNombreSP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtParametros" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="SMsError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_DatosSinIdentityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insertar_DatosSinIdentityResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="SMsError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modifica_DatosSinIdentity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sNombreSP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtParametros" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="SMsError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modifica_DatosSinIdentityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Modifica_DatosSinIdentityResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="SMsError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_DatosSinIdentity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sNombreSP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtParametros" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="SMsError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_DatosSinIdentityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Eliminar_DatosSinIdentityResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="SMsError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_DatosConIdentity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sNombreSP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtParametros" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="sValorScalar" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SMsError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_DatosConIdentityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insertar_DatosConIdentityResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="sValorScalar" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SMsError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>