Codigo/AmazonFake_WEB/AmazonFake_SITE/Service References/AmazonFakeService/AmazonFakeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Conectar_Base_Datos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Conectar_Base_DatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Conectar_Base_DatosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mostrar_Informacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Nombre_StoreProcedure_BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Nombre_Tabla_BaseDatos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mostrar_InformacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Mostrar_InformacionResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>