Codigo/AmazonFake_WEB/AmazonFake_SITE/Service References/AmazonFakeService/AmazonFakeService54.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.23:8091/AmazonFakeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
  <xs:import schemaLocation="http://192.168.0.23:8091/AmazonFakeService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DAL.Usuarios" />
  <xs:import schemaLocation="http://192.168.0.23:8091/AmazonFakeService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DAL.Entidades_BD" />
  <xs:element name="Conectar_Base_Datos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Conectar_Base_DatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Conectar_Base_DatosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mostrar_Informacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Nombre_StoreProcedure_BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Nombre_Tabla_BaseDatos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mostrar_InformacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Mostrar_InformacionResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDatos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sNombreSP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SMsError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarDatosResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="SMsError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FiltrarDatos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sNombreSP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sNombreParametro" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="DbType" type="q1:SqlDbType" />
        <xs:element minOccurs="0" name="sValrParametro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SMsError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FiltrarDatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FiltrarDatosResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="SMsError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_DatosSinIdentity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sNombreSP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtParametros" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="SMsError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_DatosSinIdentityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insertar_DatosSinIdentityResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="SMsError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modifica_DatosSinIdentity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sNombreSP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtParametros" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="SMsError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modifica_DatosSinIdentityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Modifica_DatosSinIdentityResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="SMsError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_DatosSinIdentity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sNombreSP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtParametros" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="SMsError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_DatosSinIdentityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Eliminar_DatosSinIdentityResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="SMsError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_DatosConIdentity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sNombreSP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtParametros" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="sValorScalar" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SMsError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_DatosConIdentityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insertar_DatosConIdentityResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="sValorScalar" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SMsError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DAL.Usuarios" minOccurs="0" name="LoginResult" nillable="true" type="q2:ArrayOfCls_Usuarios_DAL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Change_Password">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Change_PasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Change_PasswordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Password_Restore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Password_RestoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DAL.Usuarios" minOccurs="0" name="Password_RestoreResult" nillable="true" type="q3:ArrayOfCls_Usuarios_DAL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lock_User_Account">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lock_User_AccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Lock_User_AccountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="View_User_Status">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="View_User_StatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="View_User_StatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Envio_Correo_Cliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Correo_Target" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Correo_Source" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Correo_Encabezado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Correo_Mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Envio_Correo_ClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Create_Account">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pssword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Create_AccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Create_AccountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Create_Employee_Account">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Identificacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Create_Employee_AccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Create_Employee_AccountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Account">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_AccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_AccountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_User_Account_Por_Admin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_User_Account_Por_AdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_User_Account_Por_AdminResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Account">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Identificacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_AccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_AccountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="View_Email_Admins">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="View_Email_AdminsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DAL.Usuarios" minOccurs="0" name="View_Email_AdminsResult" nillable="true" type="q4:ArrayOfCls_Usuarios_DAL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="View_Name_Admins">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="View_Name_AdminsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DAL.Usuarios" minOccurs="0" name="View_Name_AdminsResult" nillable="true" type="q5:ArrayOfCls_Usuarios_DAL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="View_ID_Admins">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Identificacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="View_ID_AdminsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DAL.Usuarios" minOccurs="0" name="View_ID_AdminsResult" nillable="true" type="q6:ArrayOfCls_Usuarios_DAL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="View_Email_Users">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="View_Email_UsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DAL.Usuarios" minOccurs="0" name="View_Email_UsersResult" nillable="true" type="q7:ArrayOfCls_Usuarios_DAL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="View_Name_Users">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="View_Name_UsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DAL.Usuarios" minOccurs="0" name="View_Name_UsersResult" nillable="true" type="q8:ArrayOfCls_Usuarios_DAL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="View_ID_Users">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Identificacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="View_ID_UsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DAL.Usuarios" minOccurs="0" name="View_ID_UsersResult" nillable="true" type="q9:ArrayOfCls_Usuarios_DAL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DAL.Entidades_BD" minOccurs="0" name="ListarResult" nillable="true" type="q10:ArrayOfCls_Entidad_Categoria_DAL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_Detalle_Venta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cantidad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="precio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subtotal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codproducto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_Detalle_VentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insertar_Detalle_VentaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_Producto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codproducto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="desproducto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codcategoria" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="preproducto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="canproducto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imagenproducto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_ProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insertar_ProductoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_Producto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreProducto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_ProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Eliminar_ProductoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarporCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codcategoria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarporCategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DAL.Entidades_BD" minOccurs="0" name="ListarporCategoriaResult" nillable="true" type="q11:ArrayOfCls_Entidad_Productos_DAL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarporNombreProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NombreProducto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarporNombreProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DAL.Entidades_BD" minOccurs="0" name="ListarporNombreProductoResult" nillable="true" type="q12:ArrayOfCls_Entidad_Productos_DAL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarporCodigoProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoProducto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarporCodigoProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DAL.Entidades_BD" minOccurs="0" name="ListarporCodigoProductoResult" nillable="true" type="q13:ArrayOfCls_Entidad_Productos_DAL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DAL.Entidades_BD" minOccurs="0" name="ListarTodosResult" nillable="true" type="q14:ArrayOfCls_Entidad_Productos_DAL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_Venta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subtotal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="igv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="total" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cliente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_VentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insertar_VentaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UltimoCodigo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UltimoCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DAL.Entidades_BD" minOccurs="0" name="UltimoCodigoResult" nillable="true" type="q15:ArrayOfCls_Entidad_Ventas_DAL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>