Codigo/AmazonFake_WEB/AmazonFake_SITE/Service References/AmazonFakeService/C_Base_Datos1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="C_Base_Datos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.0.23:8091/AmazonFakeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.0.23:8091/AmazonFakeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.0.23:8091/AmazonFakeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://192.168.0.23:8091/AmazonFakeService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DAL.Usuarios" />
      <xsd:import schemaLocation="http://192.168.0.23:8091/AmazonFakeService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DAL.Entidades_BD" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="I_Base_Datos_Conectar_Base_Datos_InputMessage">
    <wsdl:part name="parameters" element="tns:Conectar_Base_Datos" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Conectar_Base_Datos_OutputMessage">
    <wsdl:part name="parameters" element="tns:Conectar_Base_DatosResponse" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Mostrar_Informacion_InputMessage">
    <wsdl:part name="parameters" element="tns:Mostrar_Informacion" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Mostrar_Informacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:Mostrar_InformacionResponse" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_ListarDatos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarDatos" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_ListarDatos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarDatosResponse" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_FiltrarDatos_InputMessage">
    <wsdl:part name="parameters" element="tns:FiltrarDatos" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_FiltrarDatos_OutputMessage">
    <wsdl:part name="parameters" element="tns:FiltrarDatosResponse" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Insertar_DatosSinIdentity_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_DatosSinIdentity" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Insertar_DatosSinIdentity_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_DatosSinIdentityResponse" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Modifica_DatosSinIdentity_InputMessage">
    <wsdl:part name="parameters" element="tns:Modifica_DatosSinIdentity" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Modifica_DatosSinIdentity_OutputMessage">
    <wsdl:part name="parameters" element="tns:Modifica_DatosSinIdentityResponse" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Eliminar_DatosSinIdentity_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar_DatosSinIdentity" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Eliminar_DatosSinIdentity_OutputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar_DatosSinIdentityResponse" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Insertar_DatosConIdentity_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_DatosConIdentity" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Insertar_DatosConIdentity_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_DatosConIdentityResponse" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Change_Password_InputMessage">
    <wsdl:part name="parameters" element="tns:Change_Password" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Change_Password_OutputMessage">
    <wsdl:part name="parameters" element="tns:Change_PasswordResponse" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Password_Restore_InputMessage">
    <wsdl:part name="parameters" element="tns:Password_Restore" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Password_Restore_OutputMessage">
    <wsdl:part name="parameters" element="tns:Password_RestoreResponse" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Lock_User_Account_InputMessage">
    <wsdl:part name="parameters" element="tns:Lock_User_Account" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Lock_User_Account_OutputMessage">
    <wsdl:part name="parameters" element="tns:Lock_User_AccountResponse" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_View_User_Status_InputMessage">
    <wsdl:part name="parameters" element="tns:View_User_Status" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_View_User_Status_OutputMessage">
    <wsdl:part name="parameters" element="tns:View_User_StatusResponse" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Envio_Correo_Cliente_InputMessage">
    <wsdl:part name="parameters" element="tns:Envio_Correo_Cliente" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Envio_Correo_Cliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:Envio_Correo_ClienteResponse" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Create_Account_InputMessage">
    <wsdl:part name="parameters" element="tns:Create_Account" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Create_Account_OutputMessage">
    <wsdl:part name="parameters" element="tns:Create_AccountResponse" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Create_Employee_Account_InputMessage">
    <wsdl:part name="parameters" element="tns:Create_Employee_Account" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Create_Employee_Account_OutputMessage">
    <wsdl:part name="parameters" element="tns:Create_Employee_AccountResponse" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Delete_Account_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_Account" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Delete_Account_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_AccountResponse" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Delete_User_Account_Por_Admin_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_User_Account_Por_Admin" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Delete_User_Account_Por_Admin_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_User_Account_Por_AdminResponse" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Update_Account_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_Account" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Update_Account_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_AccountResponse" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_View_Email_Admins_InputMessage">
    <wsdl:part name="parameters" element="tns:View_Email_Admins" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_View_Email_Admins_OutputMessage">
    <wsdl:part name="parameters" element="tns:View_Email_AdminsResponse" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_View_Name_Admins_InputMessage">
    <wsdl:part name="parameters" element="tns:View_Name_Admins" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_View_Name_Admins_OutputMessage">
    <wsdl:part name="parameters" element="tns:View_Name_AdminsResponse" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_View_ID_Admins_InputMessage">
    <wsdl:part name="parameters" element="tns:View_ID_Admins" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_View_ID_Admins_OutputMessage">
    <wsdl:part name="parameters" element="tns:View_ID_AdminsResponse" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_View_Email_Users_InputMessage">
    <wsdl:part name="parameters" element="tns:View_Email_Users" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_View_Email_Users_OutputMessage">
    <wsdl:part name="parameters" element="tns:View_Email_UsersResponse" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_View_Name_Users_InputMessage">
    <wsdl:part name="parameters" element="tns:View_Name_Users" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_View_Name_Users_OutputMessage">
    <wsdl:part name="parameters" element="tns:View_Name_UsersResponse" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_View_ID_Users_InputMessage">
    <wsdl:part name="parameters" element="tns:View_ID_Users" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_View_ID_Users_OutputMessage">
    <wsdl:part name="parameters" element="tns:View_ID_UsersResponse" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Listar_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Insertar_Detalle_Venta_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_Detalle_Venta" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Insertar_Detalle_Venta_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_Detalle_VentaResponse" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Insertar_Producto_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_Producto" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Insertar_Producto_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_ProductoResponse" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Eliminar_Producto_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar_Producto" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Eliminar_Producto_OutputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar_ProductoResponse" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_ListarporCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarporCategoria" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_ListarporCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarporCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_ListarporNombreProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarporNombreProducto" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_ListarporNombreProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarporNombreProductoResponse" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_ListarporCodigoProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarporCodigoProducto" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_ListarporCodigoProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarporCodigoProductoResponse" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_ListarTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTodos" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_ListarTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTodosResponse" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Insertar_Venta_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_Venta" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Insertar_Venta_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_VentaResponse" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_UltimoCodigo_InputMessage">
    <wsdl:part name="parameters" element="tns:UltimoCodigo" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_UltimoCodigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UltimoCodigoResponse" />
  </wsdl:message>
  <wsdl:portType name="I_Base_Datos">
    <wsdl:operation name="Conectar_Base_Datos">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Base_Datos/Conectar_Base_Datos" message="tns:I_Base_Datos_Conectar_Base_Datos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Base_Datos/Conectar_Base_DatosResponse" message="tns:I_Base_Datos_Conectar_Base_Datos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Mostrar_Informacion">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Base_Datos/Mostrar_Informacion" message="tns:I_Base_Datos_Mostrar_Informacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Base_Datos/Mostrar_InformacionResponse" message="tns:I_Base_Datos_Mostrar_Informacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarDatos">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Base_Datos/ListarDatos" message="tns:I_Base_Datos_ListarDatos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Base_Datos/ListarDatosResponse" message="tns:I_Base_Datos_ListarDatos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FiltrarDatos">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Base_Datos/FiltrarDatos" message="tns:I_Base_Datos_FiltrarDatos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Base_Datos/FiltrarDatosResponse" message="tns:I_Base_Datos_FiltrarDatos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar_DatosSinIdentity">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Base_Datos/Insertar_DatosSinIdentity" message="tns:I_Base_Datos_Insertar_DatosSinIdentity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Base_Datos/Insertar_DatosSinIdentityResponse" message="tns:I_Base_Datos_Insertar_DatosSinIdentity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Modifica_DatosSinIdentity">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Base_Datos/Modifica_DatosSinIdentity" message="tns:I_Base_Datos_Modifica_DatosSinIdentity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Base_Datos/Modifica_DatosSinIdentityResponse" message="tns:I_Base_Datos_Modifica_DatosSinIdentity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar_DatosSinIdentity">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Base_Datos/Eliminar_DatosSinIdentity" message="tns:I_Base_Datos_Eliminar_DatosSinIdentity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Base_Datos/Eliminar_DatosSinIdentityResponse" message="tns:I_Base_Datos_Eliminar_DatosSinIdentity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar_DatosConIdentity">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Base_Datos/Insertar_DatosConIdentity" message="tns:I_Base_Datos_Insertar_DatosConIdentity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Base_Datos/Insertar_DatosConIdentityResponse" message="tns:I_Base_Datos_Insertar_DatosConIdentity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Base_Datos/Login" message="tns:I_Base_Datos_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Base_Datos/LoginResponse" message="tns:I_Base_Datos_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Change_Password">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Base_Datos/Change_Password" message="tns:I_Base_Datos_Change_Password_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Base_Datos/Change_PasswordResponse" message="tns:I_Base_Datos_Change_Password_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Password_Restore">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Base_Datos/Password_Restore" message="tns:I_Base_Datos_Password_Restore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Base_Datos/Password_RestoreResponse" message="tns:I_Base_Datos_Password_Restore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Lock_User_Account">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Base_Datos/Lock_User_Account" message="tns:I_Base_Datos_Lock_User_Account_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Base_Datos/Lock_User_AccountResponse" message="tns:I_Base_Datos_Lock_User_Account_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="View_User_Status">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Base_Datos/View_User_Status" message="tns:I_Base_Datos_View_User_Status_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Base_Datos/View_User_StatusResponse" message="tns:I_Base_Datos_View_User_Status_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Envio_Correo_Cliente">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Base_Datos/Envio_Correo_Cliente" message="tns:I_Base_Datos_Envio_Correo_Cliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Base_Datos/Envio_Correo_ClienteResponse" message="tns:I_Base_Datos_Envio_Correo_Cliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create_Account">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Base_Datos/Create_Account" message="tns:I_Base_Datos_Create_Account_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Base_Datos/Create_AccountResponse" message="tns:I_Base_Datos_Create_Account_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create_Employee_Account">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Base_Datos/Create_Employee_Account" message="tns:I_Base_Datos_Create_Employee_Account_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Base_Datos/Create_Employee_AccountResponse" message="tns:I_Base_Datos_Create_Employee_Account_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_Account">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Base_Datos/Delete_Account" message="tns:I_Base_Datos_Delete_Account_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Base_Datos/Delete_AccountResponse" message="tns:I_Base_Datos_Delete_Account_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_User_Account_Por_Admin">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Base_Datos/Delete_User_Account_Por_Admin" message="tns:I_Base_Datos_Delete_User_Account_Por_Admin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Base_Datos/Delete_User_Account_Por_AdminResponse" message="tns:I_Base_Datos_Delete_User_Account_Por_Admin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_Account">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Base_Datos/Update_Account" message="tns:I_Base_Datos_Update_Account_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Base_Datos/Update_AccountResponse" message="tns:I_Base_Datos_Update_Account_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="View_Email_Admins">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Base_Datos/View_Email_Admins" message="tns:I_Base_Datos_View_Email_Admins_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Base_Datos/View_Email_AdminsResponse" message="tns:I_Base_Datos_View_Email_Admins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="View_Name_Admins">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Base_Datos/View_Name_Admins" message="tns:I_Base_Datos_View_Name_Admins_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Base_Datos/View_Name_AdminsResponse" message="tns:I_Base_Datos_View_Name_Admins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="View_ID_Admins">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Base_Datos/View_ID_Admins" message="tns:I_Base_Datos_View_ID_Admins_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Base_Datos/View_ID_AdminsResponse" message="tns:I_Base_Datos_View_ID_Admins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="View_Email_Users">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Base_Datos/View_Email_Users" message="tns:I_Base_Datos_View_Email_Users_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Base_Datos/View_Email_UsersResponse" message="tns:I_Base_Datos_View_Email_Users_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="View_Name_Users">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Base_Datos/View_Name_Users" message="tns:I_Base_Datos_View_Name_Users_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Base_Datos/View_Name_UsersResponse" message="tns:I_Base_Datos_View_Name_Users_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="View_ID_Users">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Base_Datos/View_ID_Users" message="tns:I_Base_Datos_View_ID_Users_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Base_Datos/View_ID_UsersResponse" message="tns:I_Base_Datos_View_ID_Users_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Base_Datos/Listar" message="tns:I_Base_Datos_Listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Base_Datos/ListarResponse" message="tns:I_Base_Datos_Listar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar_Detalle_Venta">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Base_Datos/Insertar_Detalle_Venta" message="tns:I_Base_Datos_Insertar_Detalle_Venta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Base_Datos/Insertar_Detalle_VentaResponse" message="tns:I_Base_Datos_Insertar_Detalle_Venta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar_Producto">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Base_Datos/Insertar_Producto" message="tns:I_Base_Datos_Insertar_Producto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Base_Datos/Insertar_ProductoResponse" message="tns:I_Base_Datos_Insertar_Producto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar_Producto">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Base_Datos/Eliminar_Producto" message="tns:I_Base_Datos_Eliminar_Producto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Base_Datos/Eliminar_ProductoResponse" message="tns:I_Base_Datos_Eliminar_Producto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarporCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Base_Datos/ListarporCategoria" message="tns:I_Base_Datos_ListarporCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Base_Datos/ListarporCategoriaResponse" message="tns:I_Base_Datos_ListarporCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarporNombreProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Base_Datos/ListarporNombreProducto" message="tns:I_Base_Datos_ListarporNombreProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Base_Datos/ListarporNombreProductoResponse" message="tns:I_Base_Datos_ListarporNombreProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarporCodigoProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Base_Datos/ListarporCodigoProducto" message="tns:I_Base_Datos_ListarporCodigoProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Base_Datos/ListarporCodigoProductoResponse" message="tns:I_Base_Datos_ListarporCodigoProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Base_Datos/ListarTodos" message="tns:I_Base_Datos_ListarTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Base_Datos/ListarTodosResponse" message="tns:I_Base_Datos_ListarTodos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar_Venta">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Base_Datos/Insertar_Venta" message="tns:I_Base_Datos_Insertar_Venta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Base_Datos/Insertar_VentaResponse" message="tns:I_Base_Datos_Insertar_Venta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UltimoCodigo">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Base_Datos/UltimoCodigo" message="tns:I_Base_Datos_UltimoCodigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Base_Datos/UltimoCodigoResponse" message="tns:I_Base_Datos_UltimoCodigo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_I_Base_Datos" type="tns:I_Base_Datos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Conectar_Base_Datos">
      <soap:operation soapAction="http://tempuri.org/I_Base_Datos/Conectar_Base_Datos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mostrar_Informacion">
      <soap:operation soapAction="http://tempuri.org/I_Base_Datos/Mostrar_Informacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarDatos">
      <soap:operation soapAction="http://tempuri.org/I_Base_Datos/ListarDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FiltrarDatos">
      <soap:operation soapAction="http://tempuri.org/I_Base_Datos/FiltrarDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_DatosSinIdentity">
      <soap:operation soapAction="http://tempuri.org/I_Base_Datos/Insertar_DatosSinIdentity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modifica_DatosSinIdentity">
      <soap:operation soapAction="http://tempuri.org/I_Base_Datos/Modifica_DatosSinIdentity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar_DatosSinIdentity">
      <soap:operation soapAction="http://tempuri.org/I_Base_Datos/Eliminar_DatosSinIdentity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_DatosConIdentity">
      <soap:operation soapAction="http://tempuri.org/I_Base_Datos/Insertar_DatosConIdentity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/I_Base_Datos/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Change_Password">
      <soap:operation soapAction="http://tempuri.org/I_Base_Datos/Change_Password" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Password_Restore">
      <soap:operation soapAction="http://tempuri.org/I_Base_Datos/Password_Restore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lock_User_Account">
      <soap:operation soapAction="http://tempuri.org/I_Base_Datos/Lock_User_Account" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="View_User_Status">
      <soap:operation soapAction="http://tempuri.org/I_Base_Datos/View_User_Status" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Envio_Correo_Cliente">
      <soap:operation soapAction="http://tempuri.org/I_Base_Datos/Envio_Correo_Cliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create_Account">
      <soap:operation soapAction="http://tempuri.org/I_Base_Datos/Create_Account" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create_Employee_Account">
      <soap:operation soapAction="http://tempuri.org/I_Base_Datos/Create_Employee_Account" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_Account">
      <soap:operation soapAction="http://tempuri.org/I_Base_Datos/Delete_Account" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_User_Account_Por_Admin">
      <soap:operation soapAction="http://tempuri.org/I_Base_Datos/Delete_User_Account_Por_Admin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Account">
      <soap:operation soapAction="http://tempuri.org/I_Base_Datos/Update_Account" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="View_Email_Admins">
      <soap:operation soapAction="http://tempuri.org/I_Base_Datos/View_Email_Admins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="View_Name_Admins">
      <soap:operation soapAction="http://tempuri.org/I_Base_Datos/View_Name_Admins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="View_ID_Admins">
      <soap:operation soapAction="http://tempuri.org/I_Base_Datos/View_ID_Admins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="View_Email_Users">
      <soap:operation soapAction="http://tempuri.org/I_Base_Datos/View_Email_Users" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="View_Name_Users">
      <soap:operation soapAction="http://tempuri.org/I_Base_Datos/View_Name_Users" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="View_ID_Users">
      <soap:operation soapAction="http://tempuri.org/I_Base_Datos/View_ID_Users" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/I_Base_Datos/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_Detalle_Venta">
      <soap:operation soapAction="http://tempuri.org/I_Base_Datos/Insertar_Detalle_Venta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_Producto">
      <soap:operation soapAction="http://tempuri.org/I_Base_Datos/Insertar_Producto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar_Producto">
      <soap:operation soapAction="http://tempuri.org/I_Base_Datos/Eliminar_Producto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarporCategoria">
      <soap:operation soapAction="http://tempuri.org/I_Base_Datos/ListarporCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarporNombreProducto">
      <soap:operation soapAction="http://tempuri.org/I_Base_Datos/ListarporNombreProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarporCodigoProducto">
      <soap:operation soapAction="http://tempuri.org/I_Base_Datos/ListarporCodigoProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarTodos">
      <soap:operation soapAction="http://tempuri.org/I_Base_Datos/ListarTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_Venta">
      <soap:operation soapAction="http://tempuri.org/I_Base_Datos/Insertar_Venta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UltimoCodigo">
      <soap:operation soapAction="http://tempuri.org/I_Base_Datos/UltimoCodigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="C_Base_Datos">
    <wsdl:port name="BasicHttpBinding_I_Base_Datos" binding="tns:BasicHttpBinding_I_Base_Datos">
      <soap:address location="http://192.168.0.23:8091/AmazonFakeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>