Codigo/AmazonFake_WEB/AmazonFake_SITE/Service References/AmazonFakeService/C_Base_Datos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="C_Base_Datos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56826/AmazonFakeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56826/AmazonFakeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56826/AmazonFakeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="I_Base_Datos_Conectar_Base_Datos_InputMessage">
    <wsdl:part name="parameters" element="tns:Conectar_Base_Datos" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Conectar_Base_Datos_OutputMessage">
    <wsdl:part name="parameters" element="tns:Conectar_Base_DatosResponse" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Mostrar_Informacion_InputMessage">
    <wsdl:part name="parameters" element="tns:Mostrar_Informacion" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Mostrar_Informacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:Mostrar_InformacionResponse" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Envio_Correo_Cliente_InputMessage">
    <wsdl:part name="parameters" element="tns:Envio_Correo_Cliente" />
  </wsdl:message>
  <wsdl:message name="I_Base_Datos_Envio_Correo_Cliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:Envio_Correo_ClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="I_Base_Datos">
    <wsdl:operation name="Conectar_Base_Datos">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Base_Datos/Conectar_Base_Datos" message="tns:I_Base_Datos_Conectar_Base_Datos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Base_Datos/Conectar_Base_DatosResponse" message="tns:I_Base_Datos_Conectar_Base_Datos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Mostrar_Informacion">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Base_Datos/Mostrar_Informacion" message="tns:I_Base_Datos_Mostrar_Informacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Base_Datos/Mostrar_InformacionResponse" message="tns:I_Base_Datos_Mostrar_Informacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Envio_Correo_Cliente">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Base_Datos/Envio_Correo_Cliente" message="tns:I_Base_Datos_Envio_Correo_Cliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Base_Datos/Envio_Correo_ClienteResponse" message="tns:I_Base_Datos_Envio_Correo_Cliente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_I_Base_Datos" type="tns:I_Base_Datos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Conectar_Base_Datos">
      <soap:operation soapAction="http://tempuri.org/I_Base_Datos/Conectar_Base_Datos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mostrar_Informacion">
      <soap:operation soapAction="http://tempuri.org/I_Base_Datos/Mostrar_Informacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Envio_Correo_Cliente">
      <soap:operation soapAction="http://tempuri.org/I_Base_Datos/Envio_Correo_Cliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="C_Base_Datos">
    <wsdl:port name="BasicHttpBinding_I_Base_Datos" binding="tns:BasicHttpBinding_I_Base_Datos">
      <soap:address location="http://localhost:56826/AmazonFakeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>